body{
    margin: 0%;
    padding: 0%;
}


.TopBar{
    background-color: yellowgreen;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.Name{
    display: flex;
    align-items:center;
    justify-content:left;
    height: 100%;
    width: 60%;
    font-size: xx-large;
    padding-left: 50px;
    font-style: oblique;
    color: antiquewhite;
}

.options{
    display: flex;
    text-align: center;
    align-items:center;
    justify-content:right;
    height: 100%;
    width: 20%;
    padding: 10px;
    color: antiquewhite;
    justify-self: flex-end;
}

.submenu{
    text-align: center;
    color: yellowgreen;
    padding-left: 3.2rem;
    margin-top: 6.4rem;
    margin-bottom: 0px;
}
.dishDeck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.dishCard{
    margin: 1.28rem 0 0 1.28rem;
    border-radius: 1.6rem;
    width: 16rem;
    height: auto;
    background-color: yellowgreen;
    padding: 0.64rem;
    padding-right: 0rem;
}
.foodImage{
    border-radius: 1.472rem;
    width: 15.36rem;
    height: auto;
}
.dishName{
    color: antiquewhite;
    margin-left: 0.32rem;
    margin-top: 0.32rem;
}
.dishDescription{
    margin-left: 1.28rem;
    color: antiquewhite;

}