body{
    margin: 0%;
    padding: 0%;
}


.TopBar{
    background-color: yellowgreen;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.Name{
    display: flex;
    align-items:center;
    justify-content:left;
    height: 100%;
    width: 60%;
    font-size: xx-large;
    padding-left: 50px;
    font-style: oblique;
    color: antiquewhite;
}

.options{
    display: flex;
    text-align: center;
    align-items:center;
    justify-content:right;
    height: 100%;
    width: 20%;
    padding: 10px;
    color: antiquewhite;
    justify-self: flex-end;
}

.submenu{
    text-align: center;
    color: yellowgreen;
    padding-left: 50px;
    margin-top: 100px;
    margin-bottom: 0px;
}
.dishDeck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.dishCard{
    margin: 20px 0 0 20px;
    border-radius: 25px;
    width: 250px;
    height: auto;
    background-color: yellowgreen;
    padding: 10px;
    padding-right: 0px;
}
.foodImage{
    border-radius: 23px;
    width: 240px;
    height: auto;
}
.dishName{
    color: antiquewhite;
    margin-left: 5px;
    margin-top: 5px;
}
.dishDescription{
    margin-left: 20px;
    color: antiquewhite;

}